pyrofork==2.3.45
pycryptodome  # Faster encryption alternative to tgcrypto (works on Windows without C++ compiler)
motor
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
